flows.json
[
    {
        "id": "91a3cf13f562b042",
        "type": "switch",
        "z": "58e09ceb1fc736be",
        "name": "compare",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "result",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1420,
        "y": 420,
        "wires": [
            [
                "74f99ba92f766447"
            ],
            [
                "255b2a796a5ad2b7"
            ]
        ]
    },
    {
        "id": "74f99ba92f766447",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "name": "OK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 400,
        "wires": [
            [
                "92bd1a88b223525f"
            ]
        ]
    },
    {
        "id": "255b2a796a5ad2b7",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "name": "NG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 440,
        "wires": [
            [
                "57e37ab59732ac1d"
            ]
        ]
    },
    {
        "id": "57e37ab59732ac1d",
        "type": "debug",
        "z": "58e09ceb1fc736be",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 440,
        "wires": []
    },
    {
        "id": "e575fbfda9a1d65c",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "name": "Loop [1,2,3...10]",
        "func": "// test: array data\nlet data = [];\nfor (let index = 0; index < 10; index++) {\n    data.push(index);\n}\n\n// node.send: array\ndata.forEach(function(element) {\n    msg.payload = element;\n    node.send(msg);\n});\n\n// control: peek\nmsg.payload = \"peek\";\nmsg.topic = \"control\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 1400,
        "wires": [
            [
                "c74072231937c122"
            ]
        ]
    },
    {
        "id": "462e834438e7e069",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "name": "計測終了処理",
        "func": "global.get(\"publicFunctions\").timeStampAve(1, \"test1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 1400,
        "wires": [
            [
                "dbb8e0ea9f8debe6"
            ]
        ]
    },
    {
        "id": "71b9553820c3169d",
        "type": "q-gate",
        "z": "58e09ceb1fc736be",
        "name": "q-gate",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "x": 1890,
        "y": 1400,
        "wires": [
            [
                "f85c524219671565"
            ]
        ]
    },
    {
        "id": "06d58bc5032c7d5a",
        "type": "link in",
        "z": "58e09ceb1fc736be",
        "name": "",
        "links": [
            "dbb8e0ea9f8debe6"
        ],
        "x": 1655,
        "y": 1460,
        "wires": [
            [
                "c74072231937c122"
            ]
        ]
    },
    {
        "id": "f85c524219671565",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "name": "get next",
        "func": "node.send({topic: \"control\", payload: \"drop\"})\nmsg.topic = \"control\"\nmsg.payload = \"peek\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 1400,
        "wires": [
            [
                "462e834438e7e069"
            ]
        ]
    },
    {
        "id": "dbb8e0ea9f8debe6",
        "type": "link out",
        "z": "58e09ceb1fc736be",
        "name": "",
        "links": [
            "06d58bc5032c7d5a"
        ],
        "x": 2355,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c74072231937c122",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "name": "計測開始処理",
        "func": "global.get(\"publicFunctions\").timeStampAve(0, \"test1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1400,
        "wires": [
            [
                "71b9553820c3169d"
            ]
        ]
    },
    {
        "id": "1fc441068a7f98d5",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "name": "Loop [1,2,3...10]",
        "func": "// test: array data\nlet data = [];\nfor (let index = 0; index < 10; index++) {\n    data.push(index);\n}\n\n// node.send: array\ndata.forEach(function(element) {\n    msg.payload = element;\n    node.send(msg);\n});\n\n// control: peek\nmsg.payload = \"peek\";\nmsg.topic = \"control\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 1560,
        "wires": [
            [
                "36025202dad9e8e8"
            ]
        ]
    },
    {
        "id": "f0140cc3a30b0546",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "name": "計測終了処理",
        "func": "global.get(\"publicFunctions\").timeStampAve(1, \"test1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 1560,
        "wires": [
            [
                "36025202dad9e8e8"
            ]
        ]
    },
    {
        "id": "e312dd4028691570",
        "type": "q-gate",
        "z": "58e09ceb1fc736be",
        "name": "q-gate",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "x": 1890,
        "y": 1560,
        "wires": [
            [
                "57850e1c7ecb7c04"
            ]
        ]
    },
    {
        "id": "57850e1c7ecb7c04",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "name": "get next",
        "func": "node.send({topic: \"control\", payload: \"drop\"})\nmsg.topic = \"control\"\nmsg.payload = \"peek\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 1560,
        "wires": [
            [
                "f0140cc3a30b0546"
            ]
        ]
    },
    {
        "id": "36025202dad9e8e8",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "name": "計測開始処理",
        "func": "global.get(\"publicFunctions\").timeStampAve(0, \"test1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1560,
        "wires": [
            [
                "e312dd4028691570"
            ]
        ]
    },
    {
        "id": "9dceeb6963aa6ac6",
        "type": "inject",
        "z": "58e09ceb1fc736be",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 1470,
        "y": 1340,
        "wires": [
            [
                "e575fbfda9a1d65c"
            ]
        ]
    },
    {
        "id": "a19182ba5bb0caaa",
        "type": "inject",
        "z": "58e09ceb1fc736be",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 1470,
        "y": 1520,
        "wires": [
            [
                "1fc441068a7f98d5"
            ]
        ]
    },
    {
        "id": "92bd1a88b223525f",
        "type": "debug",
        "z": "58e09ceb1fc736be",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 400,
        "wires": []
    },
    {
        "id": "104e1d10dcb39c23",
        "type": "group",
        "z": "58e09ceb1fc736be",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c51b0e6a0d0aa218",
            "c5bb752e4f88f1ec",
            "062b96786460f5d2",
            "26d06aea9aeab3e3",
            "60628535155d2edd",
            "48df0694db6c12a2"
        ],
        "x": 14,
        "y": 573,
        "w": 1218,
        "h": 354
    },
    {
        "id": "c51b0e6a0d0aa218",
        "type": "inject",
        "z": "58e09ceb1fc736be",
        "g": "104e1d10dcb39c23",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "c5bb752e4f88f1ec",
                "60628535155d2edd",
                "48df0694db6c12a2"
            ]
        ]
    },
    {
        "id": "c5bb752e4f88f1ec",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "g": "104e1d10dcb39c23",
        "name": "Loop [1,2,3...10]",
        "func": "// test: array data\nlet data = [];\nfor (let index = 0; index < 10; index++) {\n    data.push(index);\n}\n\n// node.send: array\ndata.forEach(function (element) {\n    msg.payload = element;\n    node.send(msg);\n});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 700,
        "wires": [
            [
                "2aa6e205195363b4"
            ]
        ]
    },
    {
        "id": "062b96786460f5d2",
        "type": "comment",
        "z": "58e09ceb1fc736be",
        "g": "104e1d10dcb39c23",
        "name": "OK",
        "info": "",
        "x": 90,
        "y": 620,
        "wires": []
    },
    {
        "id": "26d06aea9aeab3e3",
        "type": "group",
        "z": "58e09ceb1fc736be",
        "g": "104e1d10dcb39c23",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c23258fd773e3420",
            "8816623ef1c8e161",
            "8c7c0c16651ecc94",
            "504e93bd791c9550",
            "70d73b9e2b142555",
            "87886bbdc74c42a0",
            "ded55cceb3cd18f4",
            "83b5b1f680f44bb2",
            "7b34a83a161c6478",
            "3bd5d2bb18e6b84e",
            "2aa6e205195363b4",
            "71954da89e1e6e65"
        ],
        "x": 414,
        "y": 599,
        "w": 792,
        "h": 302
    },
    {
        "id": "c23258fd773e3420",
        "type": "catch",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "",
        "scope": [
            "70d73b9e2b142555",
            "87886bbdc74c42a0",
            "2aa6e205195363b4",
            "71954da89e1e6e65"
        ],
        "uncaught": false,
        "x": 570,
        "y": 820,
        "wires": [
            [
                "83b5b1f680f44bb2"
            ]
        ]
    },
    {
        "id": "8816623ef1c8e161",
        "type": "debug",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 820,
        "wires": []
    },
    {
        "id": "8c7c0c16651ecc94",
        "type": "comment",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "LOOP: Retain Until Processed.",
        "info": "Control Topic: \"Control\"",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "504e93bd791c9550",
        "type": "comment",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "npm install node-red-contrib-simple-message-queue",
        "info": "",
        "x": 990,
        "y": 860,
        "wires": []
    },
    {
        "id": "70d73b9e2b142555",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "payload to flow.temp",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "87886bbdc74c42a0"
            ]
        ]
    },
    {
        "id": "87886bbdc74c42a0",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "flow.temp to result",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "temp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 700,
        "wires": [
            [
                "71954da89e1e6e65",
                "91a3cf13f562b042"
            ]
        ]
    },
    {
        "id": "ded55cceb3cd18f4",
        "type": "inject",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "reset",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 570,
        "y": 860,
        "wires": [
            [
                "83b5b1f680f44bb2"
            ]
        ]
    },
    {
        "id": "83b5b1f680f44bb2",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 820,
        "wires": [
            [
                "8816623ef1c8e161",
                "2aa6e205195363b4"
            ]
        ]
    },
    {
        "id": "7b34a83a161c6478",
        "type": "link in",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "",
        "links": [
            "3bd5d2bb18e6b84e"
        ],
        "x": 455,
        "y": 760,
        "wires": [
            [
                "2aa6e205195363b4"
            ]
        ]
    },
    {
        "id": "3bd5d2bb18e6b84e",
        "type": "link out",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "",
        "links": [
            "7b34a83a161c6478"
        ],
        "x": 995,
        "y": 760,
        "wires": []
    },
    {
        "id": "2aa6e205195363b4",
        "type": "simple-queue",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "",
        "firstMessageBypass": true,
        "bypassInterval": "0",
        "x": 550,
        "y": 700,
        "wires": [
            [
                "70d73b9e2b142555"
            ]
        ]
    },
    {
        "id": "71954da89e1e6e65",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "26d06aea9aeab3e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 760,
        "wires": [
            [
                "3bd5d2bb18e6b84e"
            ]
        ]
    },
    {
        "id": "60628535155d2edd",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "g": "104e1d10dcb39c23",
        "name": "Loop [1,2,3...10]",
        "func": "// test: array data\nlet data = [];\nfor (let index = 0; index < 10; index++) {\n    data.push({ \"payload\": index });\n}\n\nreturn [data];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 740,
        "wires": [
            [
                "2aa6e205195363b4"
            ]
        ]
    },
    {
        "id": "48df0694db6c12a2",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "g": "104e1d10dcb39c23",
        "name": "Loop [1,2,3...10]",
        "func": "// test: array data\nlet data = [];\nfor (let index = 0; index < 10; index++) {\n    data.push({ \"payload\": index });\n}\n\nreturn [data];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 780,
        "wires": [
            [
                "2aa6e205195363b4"
            ]
        ]
    },
    {
        "id": "40b39c3f47c45fb8",
        "type": "group",
        "z": "58e09ceb1fc736be",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0d3fcb040b7003b5",
            "a1929bb7aa3fd76c",
            "d81494096eb606a8",
            "7505bfb4330aeae1",
            "3f8458a000e05a58"
        ],
        "x": 14,
        "y": 19,
        "w": 1112,
        "h": 122
    },
    {
        "id": "0d3fcb040b7003b5",
        "type": "inject",
        "z": "58e09ceb1fc736be",
        "g": "40b39c3f47c45fb8",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "a1929bb7aa3fd76c"
            ]
        ]
    },
    {
        "id": "a1929bb7aa3fd76c",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "g": "40b39c3f47c45fb8",
        "name": "Loop [1,2,3...10]",
        "func": "// test: array data\nlet data = [];\nfor (let index = 0; index < 10; index++) {\n    data.push(index);\n}\n\n// node.send: array\ndata.forEach(function (element) {\n    msg.payload = element;\n    node.send(msg);\n});\n\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [
            [
                "d81494096eb606a8"
            ]
        ]
    },
    {
        "id": "d81494096eb606a8",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "40b39c3f47c45fb8",
        "name": "payload to flow.temp",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 100,
        "wires": [
            [
                "7505bfb4330aeae1"
            ]
        ]
    },
    {
        "id": "7505bfb4330aeae1",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "40b39c3f47c45fb8",
        "name": "flow.temp to result",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "temp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "91a3cf13f562b042"
            ]
        ]
    },
    {
        "id": "3f8458a000e05a58",
        "type": "comment",
        "z": "58e09ceb1fc736be",
        "g": "40b39c3f47c45fb8",
        "name": "NG",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "ced89956f3244fae",
        "type": "group",
        "z": "58e09ceb1fc736be",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "775e2e8c76a358cf",
            "1e2d5b553f465869",
            "58d365c84f948ef7",
            "6b38b72e27f510e1"
        ],
        "x": 14,
        "y": 193,
        "w": 1218,
        "h": 354
    },
    {
        "id": "775e2e8c76a358cf",
        "type": "inject",
        "z": "58e09ceb1fc736be",
        "g": "ced89956f3244fae",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "1e2d5b553f465869"
            ]
        ]
    },
    {
        "id": "1e2d5b553f465869",
        "type": "function",
        "z": "58e09ceb1fc736be",
        "g": "ced89956f3244fae",
        "name": "Loop [1,2,3...10]",
        "func": "// test: array data\nlet data = [];\nfor (let index = 0; index < 10; index++) {\n    data.push(index);\n}\n\n// node.send: array\ndata.forEach(function (element) {\n    msg.payload = element;\n    node.send(msg);\n});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "2d9c1c51fd1ef768"
            ]
        ]
    },
    {
        "id": "58d365c84f948ef7",
        "type": "comment",
        "z": "58e09ceb1fc736be",
        "g": "ced89956f3244fae",
        "name": "OK",
        "info": "",
        "x": 90,
        "y": 240,
        "wires": []
    },
    {
        "id": "6b38b72e27f510e1",
        "type": "group",
        "z": "58e09ceb1fc736be",
        "g": "ced89956f3244fae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "61a5dc9b39784735",
            "6dcc3c50535fcab4",
            "2057947a748f1d07",
            "032099815e9d0004",
            "367ae6dce4e34f0c",
            "f3b61244868ce34d",
            "3956ce93876c1757",
            "fcba1dd53785d73e",
            "05f7d76851bca153",
            "5736beae7ec39fbf",
            "2d9c1c51fd1ef768",
            "4b4ddab2fd25c2fb"
        ],
        "x": 414,
        "y": 219,
        "w": 792,
        "h": 302
    },
    {
        "id": "61a5dc9b39784735",
        "type": "catch",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "",
        "scope": [
            "2d9c1c51fd1ef768",
            "367ae6dce4e34f0c",
            "f3b61244868ce34d",
            "4b4ddab2fd25c2fb"
        ],
        "uncaught": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "fcba1dd53785d73e"
            ]
        ]
    },
    {
        "id": "6dcc3c50535fcab4",
        "type": "debug",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "2057947a748f1d07",
        "type": "comment",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "LOOP: Retain Until Processed.",
        "info": "Control Topic: \"Control\"",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "032099815e9d0004",
        "type": "comment",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "npm install node-red-contrib-simple-message-queue",
        "info": "",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "367ae6dce4e34f0c",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "payload to flow.temp",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "f3b61244868ce34d"
            ]
        ]
    },
    {
        "id": "f3b61244868ce34d",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "flow.temp to result",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "temp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "91a3cf13f562b042",
                "4b4ddab2fd25c2fb"
            ]
        ]
    },
    {
        "id": "3956ce93876c1757",
        "type": "inject",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "reset",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "fcba1dd53785d73e"
            ]
        ]
    },
    {
        "id": "fcba1dd53785d73e",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 440,
        "wires": [
            [
                "6dcc3c50535fcab4",
                "2d9c1c51fd1ef768"
            ]
        ]
    },
    {
        "id": "05f7d76851bca153",
        "type": "link in",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "",
        "links": [
            "5736beae7ec39fbf"
        ],
        "x": 455,
        "y": 380,
        "wires": [
            [
                "2d9c1c51fd1ef768"
            ]
        ]
    },
    {
        "id": "5736beae7ec39fbf",
        "type": "link out",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "",
        "links": [
            "05f7d76851bca153"
        ],
        "x": 995,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d9c1c51fd1ef768",
        "type": "simple-queue",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "",
        "firstMessageBypass": true,
        "bypassInterval": "0",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "367ae6dce4e34f0c"
            ]
        ]
    },
    {
        "id": "4b4ddab2fd25c2fb",
        "type": "change",
        "z": "58e09ceb1fc736be",
        "g": "6b38b72e27f510e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 380,
        "wires": [
            [
                "5736beae7ec39fbf"
            ]
        ]
    }
]